{
  "extends": "umi",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},

"env": {
  "browser": true
},
"rules": {
  "indent": [
      "warn",
      "tab"
  ],
  "linebreak-style": [
    "off", "windows"
  ],
  "quotes": [
      "warn",
      "double"
  ],
  "semi": [
      "warn",
      "always"
  ]
}

}