# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/assets/HSAng_setup_3.1.1.56114.exe
# production
/dist
# misc
.DS_Store
npm-debug.log*
# other
a.js
test.js
