.mv {
    width:980px;
    display: flex;
    margin: 0 auto;
}
.mv-contet {
    width: 710px;
    background: white;
}
.mv-sidebar {
    width: 210px;
    background-color: white;
}
.mv-name {
    width:110px; 
    white-space:nowrap;
    overflow:hidden; 
    text-overflow:ellipsis;
}
.mv-recommand-item { 
    display: flex;
    margin-top: 8px;
    img {
        margin-right: 5px;
    }
}
.mv-introduction {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.mv-detail-info {
    color: #999;
    margin-bottom: 5px;

}
.mv-desc {
    margin-top: 8px;
    margin-bottom: 15px;
    color: black;
}