.topBarItem {
  height: 70px;
  background-color: #252525;
  float: left;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 17px;
}
.topBarItem:hover {
  background-color: #000000;
}
.topBarItem a {
  text-decoration-line: none;
  color: #ccc;
}
.topBarItem a:hover {
  color: #f8ffff;
}
.topBarCreater {
  height: 32px;
  width: 90px;
  background-color: #242424;
  float: left;
  border: 1px solid #4b4b4b;
  margin: 19px 0 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.topBarCreater a {
  color: white;
  font-size: 12px;
  text-decoration-line: none;
}
.topBarCreater:hover {
  border-color: #ccc;
}
.topBarSearch {
  height: 32px;
  width: 158px;
  margin: 19px 0 0 12px;
  float: left;
}
.topBarSearch input {
  height: 32px;
  border: none;
  outline: 0;
  border-radius: 16px;
  padding-left: 5px;
  opacity: 1;
}
.searchIcon {
  width: 10px;
  height: 10px;
  background: url("../../assets/topbar.png") no-repeat -5px -110px;
}
