.topList {
<<<<<<< HEAD
  width: 980px;
  margin: 0 auto;
  display: flex;
=======
    width: 980px;
    margin: 0 auto;
    display: flex;
    background: #ffffff;
>>>>>>> b64371588bc711be69166a64ade04c4a3e65192c
}

.topList-leftBar {
<<<<<<< HEAD
  width: 240px;
  background: #f9f9f9;
=======
    width: 240px;
    background: #f9f9f9;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
>>>>>>> b64371588bc711be69166a64ade04c4a3e65192c
}

.topList-rightBar {
<<<<<<< HEAD
  width: 740px;
=======
    width: 770px;
    padding: 0 40px 0 30px;
    display: flex;
    flex-direction: column;
    background: white;
>>>>>>> b64371588bc711be69166a64ade04c4a3e65192c
}

.topList-rightBar-list-li {
<<<<<<< HEAD
  background: url("../../assets/table.png");
  height: 36px;
  background-color: #f7f7f7;
  background-position: 0 0;
  background-repeat: repeat-x;
  text-align: center;
  line-height: 36px;
  float: left;
  border-right: 2px #e0e0e0 solid;
}
.topList-rightBar-list {
  border-top: solid 3px #c20c0c;
  width: 670px;
}
=======
    background: url("../../assets/table.png");
    height: 36px;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    text-align: start;
    line-height: 36px;
    float: left;
    border-right: 2px #e0e0e0 solid;
    padding-left: 2px;
}

.toplist-comment {
    margin-left: 30px;
}
>>>>>>> b64371588bc711be69166a64ade04c4a3e65192c
