.topList {
    width: 980px;
    margin: 0 auto;
    display: flex;  
}
.topList-leftBar {
    width: 240px;
    background: #f9f9f9

}
.topList-rightBar {
    width: 740px;
}
.topList-rightBar-list-li {
    background: url("../../assets/table.png") ;
    height: 36px;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    text-align: center;
    line-height: 36px;
    float: left;
    border-right: 2px #e0e0e0 solid;
}
.topList-rightBar-list {
    border-top: solid 3px #c20c0c;
    width: 670px;
}