#root {
  *zoom: 1;
  min-width: 982px;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-weight: bold;
}
.body {
    background-repeat: no-repeat;
    background-image: url(https://bonky-picture.oss-cn-beijing.aliyuncs.com/pic/bjtup.jpeg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: -10px -44px;
}
