@img-wid: 730px;
@img-hei: 336px;
@wid: 980px;
@shadow-pos: -20px;
@arrow-pos: -70px;
@class-recTopList: recTopList;
@rec-l-wid: 734px;
@bg-index: url("../../assets/index.png") no-repeat;
@bg-index_bill: url("../../assets/index_bill.png") no-repeat;
@bg-banner: url("../../assets/banner.png") no-repeat;
@bg-download: url("../../assets/download.png") no-repeat;
@bg-wrap1: url("../../assets/wrap1.png");
@bg-coverall: url("../../assets/coverall.png") no-repeat;
@bg-icon: url("../../assets/icon.png") no-repeat;
@bg-button2: url("../../assets/button2.png") no-repeat;

#ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.rec-banner {

  .rec-wrap {
    width: @wid + 2px;
    height: @img-hei;
    margin: 0 auto;
    img {
      width: @img-wid;
      height: @img-hei;
    }
  }
}

.rec-banner-inner {
  position: relative;
  .arrow {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    background: @bg-banner;
    font-size: 0;
    &.arrow-l {
      background-position: 0 -360px;
      left: @arrow-pos;
    }
    &.arrow-r {
      background-position: 0 -508px;
      right: @arrow-pos;
    }
    &.arrow-l:hover {
      background-position: 0 -430px;
    }
    &.arrow-r:hover {
      background-position: 0 -578px;
    }
  }
  & > a {
    display: block;
  }
  .download {
    position: absolute;
    top: 0;
    left: @img-wid;
    height: @img-hei;
    width: calc(~"100% - @{img-wid}");
    background: @bg-download 0 0;
    span {
      position: absolute;
      height: @img-hei;
      width: 20px;
      top: 0;
      background: @bg-banner no-repeat 0 0;
      &.shadow-l {
        left: @shadow-pos;
      }
      &.shadow-r {
        right: @shadow-pos;
      }
    }
    & > a {
      z-index: 20;
      display: inline-block;
      width: 215px;
      height: 56px;
      margin: 212px 19px 0 19px;
      background: @bg-download 0 99999px;
      &:hover {
        background-position: 0 -340px;
      }
    }
    & > p {
      font-size: 12px;
      color: rgb(141, 141, 141);
      text-align: center;
      margin-top: 5px;
    }
  }
}

.rec-ban-dots {
  @scale: 8px;
  position: absolute;
  z-index: 30;
  bottom: 10px;
  left: 50%;
  margin-left: -174px;
  .recClickFlag {
    display: inline-block;
    width: @scale;
    height: @scale;
    margin: 0 8px;
    border-radius: 50%;
    cursor: pointer;
    background: @bg-banner -3px -349px;
    &.active {
      background: @bg-banner -22px -349px;
    }
  }
}

.rec-module {
  width: 982px;
  background: @bg-wrap1 repeat-y 100% 100%;
  margin: 0 auto;
  .rec-module-l {
    width: @rec-l-wid;
    padding: 19px;
    display: inline-block;
  }
  /*共用模块样式*/
  .rec-module-title {
    border-bottom: 2px solid #c10d0c;
    padding: 0 10px;
    &:before,
    &:after {
      content: "";
      display: block;
    }
    &:after {
      clear: both;
    }
    & > a {
      float: left;
      font-size: 20px;
      font-weight: normal;
      line-height: 28px;
      color: #333;
      .ico-rec {
        display: inline-block;
        width: 18px;
        height: 17px;
        background: @bg-index -234px -161px;
        margin-right: 5px;
      }
    }
    .more {
      float: right;
      padding-top: 9px;
      .icon-more {
        display: inline-block;
        width: 10px;
        height: 10px;

        margin-left: 5px;
        background: @bg-index 0px -241px;
      }
    }
  }
  /*共用模块样式*/
}

.rec-songlists-title {
  .tab {
    float: left;
    padding: 9px 14px 8px 14px;
    & > a {
      display: inline-block;
      color: #666;
      font-size: 12px;
    }
    & > span {
      margin: 0 10px;
      font-size: 12px;
      color: #d8d8d8;
    }
  }
}

#rec() {
  background: rgb(245, 245, 245);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(211, 211, 211);
}
.rec-new-inner {
  #rec();
  padding: 27px;
  position: relative;
  height: 186px;
  overflow: hidden;
  margin: 20px 0px 37px;
  ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 35px;
    &.aniActive {
      transition: left 1s ease-out 0s;
    }
  }
  .arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background: @bg-index;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    &.arrow-l {
      left: 5px;
      background-position: -263px -78px;
    }
    &.arrow-r {
      right: 5px;
      background-position: -304px -78px;
    }
    &.arrow-l:hover {
      background-position: -283px -78px;
    }
    &.arrow-r:hover {
      background-position: -324px -78px;
    }
  }
}

/*新碟上架模块*/
.recNewList {
  li {
    display: inline-block;
    height: 150px;
    width: 118px;
    margin-right: 10px;
    background: @bg-index -260px 100px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 17px;
      &.tit {
        color: #666;
      }
    }
  }
}
/*新碟上架模块*/
/*榜单模块*/
.rec-toplists-inner {
  #rec();
  height: 472px;
  margin-top: 20px;
  background: @bg-index_bill 3px 0;
  dl {
    display: inline-block;
    width: 230px;
    .all {
      float: right;
      height: 30px;
      line-height: 30px;
      color: #000;
      margin-right: 26px;
    }
  }
  dt {
    padding: 20px 0 20px 23px;
  }
  .rec-toplist-cover {
    display: inline-block;
    margin-right: 12px;
    font-size: 0;
  }

  .rec-toplist-tit {
    @ic-wid: 23px;
    @ic-hei: 24px;
    display: inline-block;
    a > h3 {
      color: #333;
      font-weight: bold;
    }
    .btn > a {
      font-size: 0;
      display: inline-block;
      text-decoration: none;
      width: @ic-wid;
      height: @ic-hei;
      background: @bg-index;
    }
    @ico-pos-y: -205px;
    .btn > .icon-play {
      background-position: -267px @ico-pos-y;
      margin-right: 7px;
      &:hover {
        background-position: -267px @ico-pos-y - 30;
      }
    }
    .btn > .icon-collect {
      background-position: -300px -205px;
      &:hover {
        background-position: -300px @ico-pos-y - 30;
      }
    }
  }
}
/*榜单模块*/

.u-cover-alb1 {
  position: relative;
  margin-bottom: 10px;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @bg-coverall 0 -570px;
    font-size: 0;
  }
  .icon-play {
    font-size: 0;
  }
}

.@{class-recTopList} {
  height: 32px;
  line-height: 32px;
  //padding-left: 31px;
  position: relative;
  margin-left: 45px;
  &.zHvr .oper {
    display: block;
  }
  &.zHvr .tit {
    width: 82px;
  }
  .tit {
    height: 100%;
    width: 170px;
    float: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 13px;
    a {
      color: #333;
    }
  }
  #num() {
    font-size: 16px;
    display: inline-block;
    margin-top: 1px;
    height: 31px;
    line-height: 31px;
    position: absolute;
    left: -11px;
  }
  .top {
    #num();
    color: #c10d0c;
  }
  .no-top {
    #num();
    color: #666;
  }
  .name {
    font-size: 12px;
    color: #000;
  }
  .oper {
    display: none;
    float: right;
    width: 89px;
    margin-top: 7px;
    & > a {
      float: left;
      width: 20px;
      height: 20px;
      background: @bg-index;
      font-size: 0;
    }
    .icon-play {
      background-position: -266px -266px;
      &:hover {
        background-position: -266px -286px;
      }
    }
    .icon-add {
      background: @bg-icon 1px -696px;
      width: 15px;
      margin: 0 8px;
      &:hover {
        background-position: -21px -696px;
      }
    }
    .icon-collect {
      background-position: -295px -266px;
      &:hover {
        background-position: -295px -286px;
      }
    }
  }
}

/*右侧栏*/
.rec-module-slide {
  width: calc(~"100% - @{rec-l-wid}");
  height: 1000px;
  float: right;
  .rec-login {
    height: 125px;
    padding: 21px;
    background: @bg-index -3px 0;
  }
  p {
    line-height: 20px;
  }
  .rec-login-btn {
    display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    margin: 15px auto 0;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
    background: @bg-index 0 -194px;
  }
  .rec-anchor,
  .rec-songer {
    padding: 16px;
    color: #000;
    .btn a {
      display: block;
      color: #333;
      border-radius: 4px;
      height: 31px;
      line-height: 31px;
      text-decoration: none;
      text-align: center;
      background: @bg-button2 1px -141px;
      &:hover {
        background: @bg-button2 1px -223px;
      }
    }
    .btn {
      padding-right: 3px;
      background: @bg-button2 -34px -100px;
    }
  }
  .rec-slide-tit {
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    .all {
      float: right;
      color: #666;
    }
  }
}

/*入驻歌手*/
.rec-songer-list {
  .rec-songer-item {
    display: flex;
    background: #fafafa;
    height: 62px;
    text-decoration: none;
    margin: 17px 0;
    &:hover {
      background: #f4f4f4;
    }
    img {
      flex: 0 0 auto;
    }
    .info {
      flex: 1 0 auto;
      border: 1px solid #e9e9e9;
      padding-left: 16px;
      span {
        display: inline-block;
        margin: 8px 0 10px 0;
        font-weight: bold;
        font-size: 14px;
        color: #000;
      }
      p {
        color: #666;
        #ellipsis();
      }
    }
  }
}
/*入驻歌手*/
